<app-banner [banner]="banner"></app-banner>

<div class="wrapper">
	<h2>A heading</h2>

	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate a consequatur earum accusamus sunt dolore ea sed vitae, similique iste ab veritatis obcaecati, quidem excepturi saepe reiciendis odit labore aut.</p>

	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia possimus nam totam sunt architecto reiciendis laboriosam earum recusandae ipsum? Ex temporibus iure nihil ad commodi placeat optio quod eligendi facere.</p>

	<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa, vitae. Illum aspernatur modi architecto? Ad maxime sint asperiores beatae ea, eligendi quos incidunt, similique debitis optio earum accusamus culpa provident.</p>
</div>