@import 'src/scss/abstracts/_index';

.card {
	border: 1px solid $color-grey-dark;
	height: 100%;
}

.card__title {
	margin: 0;
}

.card__body {
	padding: 20px;
}

a {
	text-decoration: none;
	color: $color-grey-dark;
	transition: all 0.3s linear;
	display: block;
	height: 100%;

	&:hover {
		background-color: $color-grey-dark;
		color: $color-white;
	}
}